.section__buttons {
    display: grid;
    grid-template-columns: 1fr 150px 170px;
}


.section__buttons--hideDoneTasks{ 
    border: none;
    color: teal;
    background-color: white;
    display: inline-block;
    transition: 0.5s;
}

.section__buttons--finishAllTasks {
    border: none;
    color: teal;
    background-color: white;
    display: inline-block;
    transition: 0.5s;
}

.finishAllTasks {
    border: none;
    color: teal;
    background-color: white;
    display: inline-block;
}

.tasks__button {
    background-color: green;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks__button--done {
    color: white;
    background-color: green;
    padding: 10px;
    transition: 0.5s;
}

.tasks__button:hover {
    background-color: rgb(0, 158, 0);
}

.tasks__button:active {
    background-color: rgb(55, 199, 55);
}

.tasks__button--remove {
    background-color: rgb(230, 42, 42);
    color: white;
    transition: 0.5s;
}

.tasks__button--remove:hover {
    background-color: rgb(255, 74, 74);
}

.tasks__button--remove:active {
    background-color: rgb(255, 137, 137);
}

.section__buttons--hideDoneTasks:hover {
    color: rgb(0, 175, 175);
}

.section__buttons--finishAllTasks:hover {
    color: rgb(0, 175, 175);
}