.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid gainsboro;
}

.form__button {
    padding: 10px;
    color: white;
    background-color: teal;
    border: none;
}

.form__button:hover {
    background-color: rgb(0, 156, 156);
}

.form__button:active {
    background-color: rgb(0, 156, 156);
}